*{
    margin: 0;
    padding: 0;
}
*{
    font-size: 18px;
}
#root{
    width: 100%;
    height: 100%;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    align-items: center;
    justify-content: space-between;
}
.justify-content-right{
    justify-content: right;
}
.btn.ft-18{
    font-size: 18px;
}
/*main.css*/
.mlr-30{
    margin-left: 30px;
    margin-right: 30px;
}
